USE [DENTAL-PROD12]
GO
/****** Object:  Trigger [dbo].[CQP_SB2050]    Script Date: 06/01/2025 18:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER
 TRIGGER [dbo].[CQP_SB2050] 
 ON [dbo].[SB2050]
 FOR UPDATE AS 
 BEGIN 
 IF @@ROWCOUNT = 0 RETURN 
	IF 	UPDATE(B2_XCPQEXP) OR
		UPDATE(B2_MSEXP) 
	RETURN 
 	DECLARE @OLD VARCHAR(10) 
	SELECT  @OLD = [B2_XCPQEXP] FROM DELETED 
 	DECLARE @ID INT 
 	SELECT @ID = R_E_C_N_O_ FROM INSERTED 
	UPDATE SB2050 SET B2_XCPQEXP = '' WHERE R_E_C_N_O_ = @ID 
	
	INSERT INTO [Gateway_Dental]..EstoqueCPQ ([codigoFilial],[productId],[codigoErp],[descricao],[armazem],[saldoAtual],[createAt],[status],[custo],[saldoAlternativo])
	SELECT 
			SALDO_ESTOQUE.codigoFilial,
			SALDO_ESTOQUE.productId,
			SALDO_ESTOQUE.codigoErp,
			SALDO_ESTOQUE.descricao,
			SALDO_ESTOQUE.armazem,
			sum(SALDO_ESTOQUE.saldoAtual) saldoAtual,
			SALDO_ESTOQUE.createAt,
			SALDO_ESTOQUE.status,
			SALDO_ESTOQUE.custo,
			sum(SALDO_ESTOQUE.saldoAlternativo) saldoAlternativo
		FROM 
			SB2050 SB2 
			CROSS APPLY( 
				SELECT 
					'' codigoFilial,
					B1.R_E_C_N_O_ productId,
					B1.B1_COD codigoErp,
					B1.B1_DESC descricao,
					B2.B2_LOCAL armazem,
					(B2.B2_QATU - B2.B2_QPEDVEN - B2.B2_RESERVA) - B1_ZESTMIN saldoAtual,
					--convert(varchar,GETDATE(),112) createAt,
					format(getdate(), 'yyyy-MM-dd hh:mm:ss')  createAt,
					'0' status,
					B2.B2_CM1 custo,
					(B2.B2_QATU - B2.B2_QPEDVEN - B2.B2_RESERVA) saldoAlternativo
				FROM 
					SB2050 B2 
					INNER JOIN SB1050 B1 ON B1.B1_FILIAL = '' AND B1.B1_COD = B2.B2_COD AND B1.D_E_L_E_T_ = ''
				WHERE 
					B2.B2_LOCAL = '01' AND 
					B2.B2_FILIAL IN ('0501','0502') AND
					B2.B2_COD = SB2.B2_COD AND 
					B2.D_E_L_E_T_ = ''
			) SALDO_ESTOQUE
		WHERE 
			SB2.R_E_C_N_O_ = @ID
		GROUP BY codigoFilial,productId,codigoErp,descricao,armazem,createAt,status,custo
			
END 

