USE [GATEWAY]
GO
/****** Object:  StoredProcedure [dbo].[cpq_cliente_saldo]    Script Date: 19/10/2023 09:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[cpq_cliente_saldo]

@cnpj varchar(14), 
@codigo varchar(10)

AS 

BEGIN
	
	declare @data varchar(8)
	set @data = CONVERT(VARCHAR, GETDATE(), 112)

	IF @cnpj <> ''
		SELECT
			rtrim(A1.A1_FILIAL) codigoFilial,
			A1.R_E_C_N_O_ clienteId,
			case when A1.A1_PESSOA = 'J' then RTRIM(A1.A1_CGC) else '' end cnpj,
			case when A1.A1_PESSOA = 'F' then RTRIM(A1.A1_CGC) else '' end  cpf,
			A1.A1_COD + A1.A1_LOJA codigoErp,
			SALDO_ATRASO.TITULOS titulos,
			coalesce(round(SALDO_ATRASO.SALDO,2),0) saldoAtrasos
		FROM 
			[LABOR-PROD12]..SA1040 A1 
			OUTER APPLY (
				SELECT 
					SUM(E1.E1_SALDO) SALDO,
					COUNT(E1.E1_NUM) TITULOS
				FROM 
					[LABOR-PROD12]..SE1040 E1 
				WHERE 
					E1.E1_CLIENTE = A1.A1_COD
					AND E1.E1_LOJA = A1.A1_LOJA
					AND E1.E1_SALDO > 0
					AND E1.E1_VENCREA < @data
					AND E1.D_E_L_E_T_ = '' 
			)SALDO_ATRASO
		WHERE
			A1.A1_FILIAL = '' AND 
			A1.A1_CGC = @cnpj  AND 
			A1.D_E_L_E_T_ = '' 
	ELSE 
		SELECT
			rtrim(A1.A1_FILIAL) codigoFilial,
			A1.R_E_C_N_O_ clienteId,
			case when A1.A1_PESSOA = 'J' then RTRIM(A1.A1_CGC) else '' end cnpj,
			case when A1.A1_PESSOA = 'F' then RTRIM(A1.A1_CGC) else '' end  cpf,
			A1.A1_COD + A1.A1_LOJA codigoErp,
			SALDO_ATRASO.TITULOS titulos,
			coalesce(round(SALDO_ATRASO.SALDO,2),0) saldoAtrasos
		FROM 
			[LABOR-PROD12]..SA1040 A1 
			OUTER APPLY (
				SELECT 
					SUM(E1.E1_SALDO) SALDO,
					COUNT(E1.E1_NUM) TITULOS
				FROM 
					[LABOR-PROD12]..SE1040 E1 
				WHERE 
					E1.E1_CLIENTE = A1.A1_COD
					AND E1.E1_LOJA = A1.A1_LOJA
					AND E1.E1_SALDO > 0
					AND E1.E1_VENCREA < @data
					AND E1.D_E_L_E_T_ = '' 
			)SALDO_ATRASO
		WHERE
			A1.A1_FILIAL = '' AND 
			A1.A1_COD + A1.A1_LOJA = @codigo AND 
			A1.D_E_L_E_T_ = '' 
END 

--exec cpq_cliente_saldo '','0016870001'




		/*
		declare @query varchar(max)
		
		set @query = N'SELECT'
		set @query += '	rtrim(A1.A1_FILIAL) codigoFilial,' 
		set @query += '	A1.R_E_C_N_O_ clienteId,'
		set @query += ' case when A1.A1_PESSOA = ''J'' then RTRIM(A1.A1_CGC) else '''' end cnpj,' 
		set @query += ' case when A1.A1_PESSOA = ''F'' then RTRIM(A1.A1_CGC) else '''' end  cpf,'
		set @query += '	A1.A1_COD + A1.A1_LOJA codigoErp,'
		set @query += '	SALDO_ATRASO.TITULOS titulos,'
		set @query += '	coalesce(round(SALDO_ATRASO.SALDO,2),0) saldoAtrasos'
		--set @query += '	A1.A1_NROPAG titulosPagos,'
		--set @query += '	A1.A1_METR mediaAtrasos'
		set @query += ' FROM '
		set @query += '	[LABOR-PROD12]..SA1040 A1 '
		set @query += '	OUTER APPLY ('
		set @query += '		SELECT '
		set @query += '			SUM(E1.E1_SALDO) SALDO,'
		set @query += '			COUNT(E1.E1_NUM) TITULOS'
		set @query += '		FROM '
		set @query += '			[LABOR-PROD12]..SE1040 E1 '
		set @query += '		WHERE '
		set @query += '			E1.E1_CLIENTE = A1.A1_COD'
		set @query += '			AND E1.E1_LOJA = A1.A1_LOJA'
		set @query += '			AND E1.E1_SALDO > 0'
		set @query += '			AND E1.E1_VENCREA < CONVERT(VARCHAR, GETDATE(), 112)'
		set @query += '			AND E1.D_E_L_E_T_ = '''' '
		set @query += '	)SALDO_ATRASO'
		set @query += ' WHERE'
		set @query += '	A1.A1_FILIAL = '''' AND '

		IF @cnpj <> ''
			set @query += '	A1.A1_CGC = ''' + @cnpj + ''' AND '
		ELSE 
			set @query += '	A1.A1_COD + A1.A1_LOJA = ''' + @codigo + ''' AND '

		set @query += '	A1.D_E_L_E_T_ = '''' '
		
		
		execute (@query)
		*/