USE [LABOR-PROD12]
GO
/****** Object:  Trigger [dbo].[TG_DA1040]    Script Date: 31/03/2023 13:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER
 TRIGGER [dbo].[TG_DA1040] 
 ON [dbo].[DA1040]
 FOR UPDATE AS 
 BEGIN 
 IF @@ROWCOUNT = 0 RETURN 
 	DECLARE @OLD VARCHAR(10) 
	SELECT  @OLD = [DA1_XCPQEX] FROM DELETED 
 	DECLARE @ID INT 
 	SELECT @ID = R_E_C_N_O_ FROM INSERTED 
 	--UPDATE DA1040 SET DA1_XCPQEX = '' WHERE R_E_C_N_O_ = @ID AND @OLD = convert(varchar,GETDATE(),112) 
	UPDATE DA1040 SET DA1_XCPQEX = '' WHERE R_E_C_N_O_ = @ID 
END 

/*
	IF 	NOT UPDATE(DA1_FILIAL) AND 
           NOT UPDATE(DA1_ITEM) AND 
           NOT UPDATE(DA1_CODTAB) AND 
           NOT UPDATE(DA1_CODPRO) AND 
           NOT UPDATE(DA1_GRUPO) AND 
           NOT UPDATE(DA1_REFGRD) AND 
           NOT UPDATE(DA1_PRCVEN) AND 
           NOT UPDATE(DA1_VLRDES) AND 
           NOT UPDATE(DA1_PERDES) AND 
           NOT UPDATE(DA1_ATIVO) AND 
           NOT UPDATE(DA1_FRETE) AND 
           NOT UPDATE(DA1_ESTADO) AND 
           NOT UPDATE(DA1_TPOPER) AND 
           NOT UPDATE(DA1_QTDLOT) AND 
           NOT UPDATE(DA1_INDLOT) AND 
           NOT UPDATE(DA1_MOEDA) AND 
           NOT UPDATE(DA1_DATVIG) AND 
           NOT UPDATE(DA1_ITEMGR) AND 
           NOT UPDATE(DA1_PRCMAX) AND 
           NOT UPDATE(DA1_DTUMOV) AND 
           NOT UPDATE(DA1_HRUMOV) AND 
           NOT UPDATE(DA1_ECDTEX) AND 
           NOT UPDATE(DA1_ECSEQ) AND 
           NOT UPDATE(DA1_USERGI) AND 
           NOT UPDATE(DA1_USERGA) AND 
           NOT UPDATE(DA1_MSEXP) AND 
           NOT UPDATE(DA1_HREXPO) AND 
           NOT UPDATE(DA1_ENVECO) AND 
           NOT UPDATE(DA1_XMGB) AND 
           NOT UPDATE(DA1_XDTAT) AND 
           NOT UPDATE(DA1_XCODUS) AND 
           NOT UPDATE(DA1_XPRCMI) AND 
           NOT UPDATE(DA1_XMGMIN) AND 
           NOT UPDATE(DA1_TIPPRE)
RETURN
	*/