/*
   sexta-feira, 11 de agosto de 202314:47:00
   Usuário: Protheus
   Servidor: 192.168.50.218
   Banco de Dados: LABOR-BI
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.NCM_LOGCOMEX.descricao_produto', N'Tmp_descricaoProduto', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NCM_LOGCOMEX.Tmp_descricaoProduto', N'descricaoProduto', 'COLUMN' 
GO
ALTER TABLE dbo.NCM_LOGCOMEX SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
