USE [RCL_PROD]
GO
/****** Object:  StoredProcedure [dbo].[chk_rcl_notas_analitico]    Script Date: 22/01/2026 17:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[chk_rcl_notas_analitico]
(
    @FilialDe   VARCHAR(4),
    @FilialAte  VARCHAR(4),
    @DataDe     CHAR(8),  -- formato AAAAMMDD
    @DataAte    CHAR(8)   -- formato AAAAMMDD
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FT.FT_FILIAL           AS filial, 
        FT.FT_ENTRADA          AS dataEntrada, 
        FT.FT_EMISSAO          AS dataEmissao, 
        FT.FT_NFISCAL          AS nota, 
        FT.FT_SERIE            AS serie, 
        CASE 
            WHEN FT.FT_TIPOMOV = 'S' AND FT.FT_TIPO IN('','N') THEN A1.A1_CGC 
            WHEN FT.FT_TIPOMOV = 'S' AND FT.FT_TIPO IN('B','D') THEN A2.A2_CGC 
            WHEN FT.FT_TIPOMOV = 'E' AND FT.FT_TIPO IN(' ','N') THEN A2.A2_CGC 
            WHEN FT.FT_TIPOMOV = 'E' AND FT.FT_TIPO IN('B','D') THEN A1.A1_CGC 
        END AS cnpj_cpf, 
        FT.FT_ESTADO           AS estado, 
        RTRIM(FT.FT_CFOP)      AS cfop,
        RTRIM(LOWER(X5.X5_DESCRI))    AS descricaoCfop,
        FT.FT_VALCONT          AS valorContabil, 
        FT.FT_ALIQICM          AS aliquotaICMS, 
        FT.FT_BASEICM          AS baseICMS, 
        FT.FT_VALICM           AS valorICMS, 
        FT.FT_ISENICM          AS valorIsentoICMS,  
        FT.FT_OUTRICM          AS valorOutrosICMS, 
        FT.FT_ALIQIPI          AS aliquotaIPI, 
        FT.FT_BASEIPI          AS baseIPI,  
        FT.FT_VALIPI           AS valorIPI, 
        FT.FT_ISENIPI          AS valorIsentoIPI, 
        FT.FT_OUTRIPI          AS valorOutrosIPI, 
        FT.FT_BASERET          AS baseRetencaoST, 
        FT.FT_ICMSRET          AS valorICMSRetido, 
        FT.FT_OBSERV           AS observacoes, 
        FT.FT_TIPO             AS tipoNota, 
        FT.FT_ICMSCOM          AS valorICMSComplementar, 
        FT.FT_IPIOBS           AS valorIPIImpresso, 
        FT.FT_ESPECIE          AS especie, 
        FT.FT_PRODUTO          AS produto, 
        FT.FT_TIPOMOV          AS tipoMovimentacao, 
        FT.FT_ITEM             AS item,  
        FT.FT_CLASFIS          AS stICMS, 
        FT.FT_FRETE            AS valorFrete, 
        FT.FT_SEGURO           AS valorSeguro,  
        FT.FT_DESPESA          AS valorDespesa, 
        FT.FT_POSIPI           AS NCM, 
        FT.FT_ESTOQUE          AS movimentaEstoque, 
        FT.FT_QUANT            AS quantidade, 
        FT.FT_PRCUNIT          AS valorUnitario, 
        FT.FT_DESCONT          AS valorDesconto, 
        FT.FT_NFORI            AS nfOrigem, 
        FT.FT_BRETPIS          AS basePIS, 
        FT.FT_ALIQPIS          AS aliquotaPIS, 
        FT.FT_VALPIS           AS valorPIS, 
        FT.FT_BASECOF          AS baseCofins, 
        FT.FT_ALIQCOF          AS aliquotaCofins, 
        FT.FT_VALCOF           AS valorCofins, 
        FT.FT_CHVNFE           AS chaveNFE, 
        FT.FT_CSTPIS           AS cstPIS, 
        FT.FT_CSTCOF           AS cstCofins, 
        FT.FT_VALFECP          AS valorFECP, 
        FT.FT_TES              AS tes, 
        FT.FT_MVALCOF          AS valorCofinsMajorada, 
        FT.FT_MALQCOF          AS aliquotaCofinsMajorada, 
        FT.FT_DIFAL            AS valorDifal
    FROM SFT010 FT
    LEFT JOIN SA1010 A1 ON A1.A1_FILIAL = '' AND A1.A1_COD = FT.FT_CLIEFOR AND A1.A1_LOJA = FT.FT_LOJA AND A1.D_E_L_E_T_ = ''
    LEFT JOIN SA2010 A2 ON A2.A2_FILIAL = '' AND A2.A2_COD = FT.FT_CLIEFOR AND A2.A2_LOJA = FT.FT_LOJA AND A2.D_E_L_E_T_ = ''
    LEFT JOIN SX5010 X5 ON X5.X5_FILIAL = '' AND X5.X5_CHAVE = FT.FT_CFOP AND X5.D_E_L_E_T_ = ''
    WHERE 
        FT.FT_FILIAL BETWEEN @FilialDe AND @FilialAte
        AND FT.FT_ENTRADA BETWEEN @DataDe AND @DataAte
        AND FT.FT_NATOPER NOT IN ('037','018')
        AND FT.D_E_L_E_T_ = ''
    ORDER BY 
        FT.FT_NFISCAL, 
        FT.FT_SERIE, 
        FT.FT_ITEM;
END


--EXEC chk_rcl_notas_analitico '0101', '0101', '20260116','20260116'
--EXEC chk_rcl_notas_sintetico '0101', '0101', '20260116','20260116'