USE [protheus-prod-db]
GO
/****** Object:  StoredProcedure [dbo].[bunzl_saldoscontacontabil]    Script Date: 15/07/2025 17:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure saldos contabeis
ALTER PROCEDURE [dbo].[bunzl_saldoscontacontabil]
    @ANO CHAR(4),
    @MES_FINAL CHAR(2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MES INT = 1;
    DECLARE @DATA_INICIO CHAR(8) = CONCAT(@ANO, '0101');
    DECLARE @DATA_FINAL CHAR(8);
    DECLARE @NOME_MES CHAR(3);

    -- Tabela temporária base para acumular os saldos mês a mês
    IF OBJECT_ID('tempdb..#SALDOS') IS NOT NULL DROP TABLE #SALDOS;
    CREATE TABLE #SALDOS (
        CONTA_CONTABIL VARCHAR(30) PRIMARY KEY,
        SALDO_JAN DECIMAL(18,2) DEFAULT 0,
        SALDO_FEV DECIMAL(18,2) DEFAULT 0,
        SALDO_MAR DECIMAL(18,2) DEFAULT 0,
        SALDO_ABR DECIMAL(18,2) DEFAULT 0,
        SALDO_MAI DECIMAL(18,2) DEFAULT 0,
        SALDO_JUN DECIMAL(18,2) DEFAULT 0,
        SALDO_JUL DECIMAL(18,2) DEFAULT 0,
        SALDO_AGO DECIMAL(18,2) DEFAULT 0,
        SALDO_SET DECIMAL(18,2) DEFAULT 0,
        SALDO_OUT DECIMAL(18,2) DEFAULT 0,
        SALDO_NOV DECIMAL(18,2) DEFAULT 0,
        SALDO_DEZ DECIMAL(18,2) DEFAULT 0
    );

    WHILE @MES <= CAST(@MES_FINAL AS INT)
    BEGIN
		SET @DATA_INICIO = CONCAT(@ANO, RIGHT('00' + CAST(@MES AS VARCHAR), 2), '01');
        SET @DATA_FINAL = FORMAT(EOMONTH(DATEFROMPARTS(CAST(@ANO AS INT), @MES, 1)), 'yyyyMMdd');
        SET @NOME_MES = CASE @MES 
                            WHEN 1 THEN 'JAN' WHEN 2 THEN 'FEV' WHEN 3 THEN 'MAR'
                            WHEN 4 THEN 'ABR' WHEN 5 THEN 'MAI' WHEN 6 THEN 'JUN'
                            WHEN 7 THEN 'JUL' WHEN 8 THEN 'AGO' WHEN 9 THEN 'SET'
                            WHEN 10 THEN 'OUT' WHEN 11 THEN 'NOV' WHEN 12 THEN 'DEZ'
                        END;

        -- Tabela temporária para armazenar saldos do mês corrente
        IF OBJECT_ID('tempdb..#SALDOS_MES') IS NOT NULL DROP TABLE #SALDOS_MES;
        CREATE TABLE #SALDOS_MES (
            CONTA_CONTABIL VARCHAR(30) PRIMARY KEY,
            SALDO DECIMAL(18,2)
        );

        -- Inserir os saldos do mês na tabela temporária #SALDOS_MES
        INSERT INTO #SALDOS_MES (CONTA_CONTABIL, SALDO)
		SELECT 
			CQ1.CQ1_CONTA CONTA,
			(
				(	
					SUM(CASE WHEN CQ1.CQ1_DATA < @DATA_INICIO AND CQ1_TPSALD = '1' AND CQ1_MOEDA = '01' THEN CQ1.CQ1_DEBITO ELSE 0 END ) +
					SUM(CASE WHEN CQ1.CQ1_DATA BETWEEN @DATA_INICIO AND @DATA_FINAL AND CQ1_TPSALD = '1' AND CQ1_MOEDA = '01' THEN CQ1.CQ1_DEBITO ELSE 0 END )  
				)-
				(	
					SUM(CASE WHEN CQ1.CQ1_DATA < @DATA_INICIO AND CQ1_TPSALD = '1' AND CQ1_MOEDA = '01' THEN CQ1.CQ1_CREDIT ELSE 0 END ) +
					SUM(CASE WHEN CQ1.CQ1_DATA BETWEEN @DATA_INICIO AND @DATA_FINAL AND CQ1_TPSALD = '1' AND CQ1_MOEDA = '01' THEN CQ1.CQ1_CREDIT ELSE 0 END )
				)
			) * (-1) SALDO
				
		FROM CQ1010 CQ1 (NOLOCK)
		WHERE 
			CQ1_FILIAL IN ('0101','0102','0103') 
			AND CQ1.CQ1_MOEDA = '01'
			AND CQ1.CQ1_TPSALD = '1'
			AND CQ1.D_E_L_E_T_ = ''
		GROUP BY CQ1.CQ1_CONTA;

        -- Atualizar #SALDOS com os valores do mês corrente
        -- Se a conta ainda não existir, insere; se existir, atualiza
        MERGE #SALDOS AS target
        USING #SALDOS_MES AS source
        ON target.CONTA_CONTABIL = source.CONTA_CONTABIL
        WHEN MATCHED THEN
            UPDATE SET 
                SALDO_JAN = CASE WHEN @NOME_MES = 'JAN' THEN source.SALDO ELSE target.SALDO_JAN END,
                SALDO_FEV = CASE WHEN @NOME_MES = 'FEV' THEN source.SALDO ELSE target.SALDO_FEV END,
                SALDO_MAR = CASE WHEN @NOME_MES = 'MAR' THEN source.SALDO ELSE target.SALDO_MAR END,
                SALDO_ABR = CASE WHEN @NOME_MES = 'ABR' THEN source.SALDO ELSE target.SALDO_ABR END,
                SALDO_MAI = CASE WHEN @NOME_MES = 'MAI' THEN source.SALDO ELSE target.SALDO_MAI END,
                SALDO_JUN = CASE WHEN @NOME_MES = 'JUN' THEN source.SALDO ELSE target.SALDO_JUN END,
                SALDO_JUL = CASE WHEN @NOME_MES = 'JUL' THEN source.SALDO ELSE target.SALDO_JUL END,
                SALDO_AGO = CASE WHEN @NOME_MES = 'AGO' THEN source.SALDO ELSE target.SALDO_AGO END,
                SALDO_SET = CASE WHEN @NOME_MES = 'SET' THEN source.SALDO ELSE target.SALDO_SET END,
                SALDO_OUT = CASE WHEN @NOME_MES = 'OUT' THEN source.SALDO ELSE target.SALDO_OUT END,
                SALDO_NOV = CASE WHEN @NOME_MES = 'NOV' THEN source.SALDO ELSE target.SALDO_NOV END,
                SALDO_DEZ = CASE WHEN @NOME_MES = 'DEZ' THEN source.SALDO ELSE target.SALDO_DEZ END
        WHEN NOT MATCHED THEN
            INSERT (CONTA_CONTABIL, SALDO_JAN, SALDO_FEV, SALDO_MAR, SALDO_ABR, SALDO_MAI, SALDO_JUN, SALDO_JUL, SALDO_AGO, SALDO_SET, SALDO_OUT, SALDO_NOV, SALDO_DEZ)
            VALUES (
                source.CONTA_CONTABIL,
                CASE WHEN @NOME_MES = 'JAN' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'FEV' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'MAR' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'ABR' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'MAI' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'JUN' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'JUL' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'AGO' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'SET' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'OUT' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'NOV' THEN source.SALDO ELSE 0 END,
                CASE WHEN @NOME_MES = 'DEZ' THEN source.SALDO ELSE 0 END
            );

        SET @MES += 1;
    END
	
	 -- Gravar na tabela física SALDOS_CONTABEIS: UPDATE se já existe, INSERT se não
    MERGE dbo.saldos_contabeis AS target
	USING #SALDOS AS source
	ON target.ano = @ANO AND target.contaContabil = source.CONTA_CONTABIL
	WHEN MATCHED THEN
		UPDATE SET
            target.saldoJan = source.SALDO_JAN,
            target.saldoFev = source.SALDO_FEV,
            target.saldoMar = source.SALDO_MAR,
            target.saldoAbr = source.SALDO_ABR,
            target.saldoMai = source.SALDO_MAI,
            target.saldoJun = source.SALDO_JUN,
            target.saldoJul = source.SALDO_JUL,
            target.saldoAgo = source.SALDO_AGO,
            target.saldoSet = source.SALDO_SET,
            target.saldoOut = source.SALDO_OUT,
            target.saldoNov = source.SALDO_NOV,
            target.saldoDez = source.SALDO_DEZ,
            target.dataProcessamento = GETDATE()
	WHEN NOT MATCHED THEN
		INSERT (
			ano, contaContabil,
			saldoJan, saldoFev, saldoMar, saldoAbr, saldoMai, saldoJun,
			saldoJul, saldoAgo, saldoSet, saldoOut, saldoNov, saldoDez,
			dataProcessamento
		)
		VALUES (
			@ANO, CONTA_CONTABIL,
			SALDO_JAN, SALDO_FEV, SALDO_MAR, SALDO_ABR, SALDO_MAI, SALDO_JUN,
			SALDO_JUL, SALDO_AGO, SALDO_SET, SALDO_OUT, SALDO_NOV, SALDO_DEZ,
			GETDATE()
		);
END;

--exec dbo.bunzl_saldoscontacontabil @ANO = '2025', @MES_FINAL = '06';

--select * from dbo.saldos_contabeis where contaContabil = '2.010201001'
-- delete from dbo.saldos_contabeis
--select CONCAT('202506', '01');

--SELECT FORMAT(EOMONTH(DATEFROMPARTS(CAST('2025' AS INT), '06', 1)), 'yyyyMMdd');
--SELECT CAST(CAST('2025' AS INT) - 1 AS CHAR(4)) + '1231'