USE [LABOR_TESTE]
GO
/****** Object:  Trigger [dbo].[TG_SE1040]    Script Date: 30/12/2025 17:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TG_SE1040]
ON [dbo].[SE1040]
FOR UPDATE AS
BEGIN
    IF @@ROWCOUNT = 0 RETURN;
    
    -- Verifica se pelo menos uma das colunas especificadas foi atualizada
    IF 	UPDATE(E1_FILIAL) OR 
        UPDATE(E1_PREFIXO) OR
        UPDATE(E1_NUM) OR
        UPDATE(E1_PARCELA) OR
        UPDATE(E1_TIPO) OR
        UPDATE(E1_NATUREZ) OR
        UPDATE(E1_PORTADO) OR
        UPDATE(E1_AGEDEP) OR
        UPDATE(E1_CLIENTE) OR
        UPDATE(E1_LOJA) OR
        UPDATE(E1_NOMCLI) OR
        UPDATE(E1_EMISSAO) OR
        UPDATE(E1_XNOMCLI) OR
        UPDATE(E1_VENCTO) OR
        UPDATE(E1_VENCREA) OR
        UPDATE(E1_VALOR) OR
        UPDATE(E1_SALDO) OR
        UPDATE(E1_BASEIRF) OR
        UPDATE(E1_IRRF) OR
        UPDATE(E1_ISS) OR
        UPDATE(E1_NUMBCO) OR
        UPDATE(E1_INDICE) OR
        UPDATE(E1_BAIXA) OR
        UPDATE(E1_NUMBOR) OR
        UPDATE(E1_DATABOR) OR
        UPDATE(E1_EMIS1) OR
        UPDATE(E1_HIST) OR
        UPDATE(E1_LA) OR
        UPDATE(E1_LOTE) OR
        UPDATE(E1_MOTIVO) OR
        UPDATE(E1_MOVIMEN) OR
        UPDATE(E1_OP) OR
        UPDATE(E1_SITUACA) OR
        UPDATE(E1_CONTRAT) OR
        UPDATE(E1_SUPERVI) OR
        UPDATE(E1_VEND1) OR
        UPDATE(E1_VEND2) OR
        UPDATE(E1_VEND3) OR
        UPDATE(E1_VEND4) OR
        UPDATE(E1_VEND5) OR
        UPDATE(E1_COMIS1) OR
        UPDATE(E1_COMIS2) OR
        UPDATE(E1_COMIS3) OR
        UPDATE(E1_COMIS4) OR
        UPDATE(E1_DESCONT) OR
        UPDATE(E1_COMIS5) OR
        UPDATE(E1_MULTA) OR
        UPDATE(E1_JUROS) OR
        UPDATE(E1_CORREC) OR
        UPDATE(E1_VALLIQ) OR
        UPDATE(E1_VENCORI) OR
        UPDATE(E1_CONTA) OR
        UPDATE(E1_VALJUR) OR
        UPDATE(E1_PORCJUR) OR
        UPDATE(E1_MOEDA) OR
        UPDATE(E1_BASCOM1) OR
        UPDATE(E1_BASCOM2) OR
        UPDATE(E1_BASCOM3) OR
        UPDATE(E1_BASCOM4) OR
        UPDATE(E1_BASCOM5) OR
        UPDATE(E1_FATPREF) OR
        UPDATE(E1_OK) OR
        UPDATE(E1_FATURA) OR
        UPDATE(E1_PROJETO) OR
        UPDATE(E1_CLASCON) OR
        UPDATE(E1_VALCOM1) OR
        UPDATE(E1_VALCOM2) OR
        UPDATE(E1_VALCOM3) OR
        UPDATE(E1_VALCOM4) OR
        UPDATE(E1_VALCOM5) OR
        UPDATE(E1_OCORREN) OR
        UPDATE(E1_INSTR1) OR
        UPDATE(E1_INSTR2) OR
        UPDATE(E1_PEDIDO) OR
        UPDATE(E1_DTVARIA) OR
        UPDATE(E1_VARURV) OR
        UPDATE(E1_VLCRUZ) OR
        UPDATE(E1_NUMNOTA) OR
        UPDATE(E1_SERIE) OR
        UPDATE(E1_DTFATUR) OR
        UPDATE(E1_STATUS) OR
        UPDATE(E1_IDENTEE) OR
        UPDATE(E1_ORIGEM) OR
        UPDATE(E1_NUMCART) OR
        UPDATE(E1_FLUXO) OR
        UPDATE(E1_DESCFIN) OR
        UPDATE(E1_DIADESC) OR
        UPDATE(E1_TIPODES) OR
        UPDATE(E1_CARTAO) OR
        UPDATE(E1_CARTVAL) OR
        UPDATE(E1_CARTAUT) OR
        UPDATE(E1_VLRREAL) OR
        UPDATE(E1_ADM) OR
        UPDATE(E1_TRANSF) OR
        UPDATE(E1_BCOCHQ) OR
        UPDATE(E1_AGECHQ) OR
        UPDATE(E1_CTACHQ) OR
        UPDATE(E1_ORDPAGO) OR
        UPDATE(E1_NUMLIQ) OR
        UPDATE(E1_RECIBO) OR
        UPDATE(E1_INSS) OR
        UPDATE(E1_FILORIG) OR
        UPDATE(E1_DTACRED) OR
        UPDATE(E1_TIPOFAT) OR
        UPDATE(E1_TIPOLIQ) OR
        UPDATE(E1_CSLL) OR
        UPDATE(E1_COFINS) OR
        UPDATE(E1_FLAGFAT) OR
        UPDATE(E1_PIS) OR
        UPDATE(E1_MESBASE) OR
        UPDATE(E1_ANOBASE) OR
        UPDATE(E1_PLNUCOB) OR
        UPDATE(E1_CODINT) OR
        UPDATE(E1_CODEMP) OR
        UPDATE(E1_MATRIC) OR
        UPDATE(E1_TXMOEDA) OR
        UPDATE(E1_ACRESC) OR
        UPDATE(E1_SDACRES) OR
        UPDATE(E1_DECRESC) OR
        UPDATE(E1_SDDECRE) OR
        UPDATE(E1_MULTNAT) OR
        UPDATE(E1_MSFIL) OR
        UPDATE(E1_MSEMP) OR
        UPDATE(E1_PROJPMS) OR
        UPDATE(E1_DESDOBR) OR
        UPDATE(E1_NRDOC) OR
        UPDATE(E1_MODSPB) OR
        UPDATE(E1_EMITCHQ) OR
        UPDATE(E1_IDCNAB) OR
        UPDATE(E1_PLCOEMP) OR
        UPDATE(E1_PLTPCOE) OR
        UPDATE(E1_CODCOR) OR
        UPDATE(E1_PARCCSS) OR
        UPDATE(E1_CODORCA) OR
        UPDATE(E1_CODIMOV) OR
        UPDATE(E1_FILDEB) OR
        UPDATE(E1_NUMSOL) OR
        UPDATE(E1_NUMRA) OR
        UPDATE(E1_INSCRIC) OR
        UPDATE(E1_DATAEDI) OR
        UPDATE(E1_SERREC) OR
        UPDATE(E1_CODBAR) OR
        UPDATE(E1_CODDIG) OR
        UPDATE(E1_CHQDEV) OR
        UPDATE(E1_LIDESCF) OR
        UPDATE(E1_VLBOLSA) OR
        UPDATE(E1_VLFIES) OR
        UPDATE(E1_NUMCRD) OR
        UPDATE(E1_DEBITO) OR
        UPDATE(E1_CCD) OR
        UPDATE(E1_ITEMD) OR
        UPDATE(E1_CLVLDB) OR
        UPDATE(E1_CREDIT) OR
        UPDATE(E1_CCC) OR
        UPDATE(E1_ITEMC) OR
        UPDATE(E1_CLVLCR) OR
        UPDATE(E1_DESCON1) OR
        UPDATE(E1_DESCON2) OR
        UPDATE(E1_DTDESC3) OR
        UPDATE(E1_DTDESC1) OR
        UPDATE(E1_DTDESC2) OR
        UPDATE(E1_VLMULTA) OR
        UPDATE(E1_DESCON3) OR
        UPDATE(E1_MOTNEG) OR
        UPDATE(E1_SABTPIS) OR
        UPDATE(E1_SABTCOF) OR
        UPDATE(E1_SABTCSL) OR
        UPDATE(E1_FORNISS) OR
        UPDATE(E1_PARTOT) OR
        UPDATE(E1_SITFAT) OR
        UPDATE(E1_BASEPIS) OR
        UPDATE(E1_BASECOF) OR
        UPDATE(E1_BASECSL) OR
        UPDATE(E1_PARCIRF) OR
        UPDATE(E1_VRETISS) OR
        UPDATE(E1_SCORGP) OR
        UPDATE(E1_FRETISS) OR
        UPDATE(E1_TXMDCOR) OR
        UPDATE(E1_SATBIRF) OR
        UPDATE(E1_TIPREG) OR
        UPDATE(E1_CONEMP) OR
        UPDATE(E1_VERCON) OR
        UPDATE(E1_SUBCON) OR
        UPDATE(E1_VERSUB) OR
        UPDATE(E1_PLLOTE) OR
        UPDATE(E1_PLOPELT) OR
        UPDATE(E1_CODRDA) OR
        UPDATE(E1_FORMREC) OR
        UPDATE(E1_BCOCLI) OR
        UPDATE(E1_AGECLI) OR
        UPDATE(E1_CTACLI) OR
        UPDATE(E1_PARCFET) OR
        UPDATE(E1_FETHAB) OR
        UPDATE(E1_MDCRON) OR
        UPDATE(E1_MDCONTR) OR
        UPDATE(E1_MEDNUME) OR
        UPDATE(E1_MDPLANI) OR
        UPDATE(E1_MDPARCE) OR
        UPDATE(E1_MDREVIS) OR
        UPDATE(E1_NUMMOV) OR
        UPDATE(E1_IDMOV) OR
        UPDATE(E1_PREFORI) OR
        UPDATE(E1_NUMPRO) OR
        UPDATE(E1_INDPRO) OR
        UPDATE(E1_MDMULT) OR
        UPDATE(E1_MDBONI) OR
        UPDATE(E1_MDDESC) OR
        UPDATE(E1_RETCNTR) OR
        UPDATE(E1_MULTDIA) OR
        UPDATE(E1_NODIA) OR
        UPDATE(E1_RELATO) OR
        UPDATE(E1_JURFAT) OR
        UPDATE(E1_TITPAI) OR
        UPDATE(E1_BASEINS) OR
        UPDATE(E1_DOCTEF) OR
        UPDATE(E1_NFELETR) OR
        UPDATE(E1_PARCFAB) OR
        UPDATE(E1_PARCFAC) OR
        UPDATE(E1_PARTPDP) OR
        UPDATE(E1_PRINSS) OR
        UPDATE(E1_TPDP) OR
        UPDATE(E1_VLMINIS) OR
        UPDATE(E1_TPDESC) OR
        UPDATE(E1_FACS) OR
        UPDATE(E1_NUMCON) OR
        UPDATE(E1_FABOV) OR
        UPDATE(E1_IDLAN) OR
        UPDATE(E1_IDBOLET) OR
        UPDATE(E1_SERVICO) OR
        UPDATE(E1_VLBOLP) OR
        UPDATE(E1_IDAPLIC) OR
        UPDATE(E1_PROCEL) OR
        UPDATE(E1_NUMINSC) OR
        UPDATE(E1_SABTIRF) OR
        UPDATE(E1_LTCXA) OR
        UPDATE(E1_NOPER) OR
        UPDATE(E1_TURMA) OR
        UPDATE(E1_DIACTB) OR
        UPDATE(E1_VRETIRF) OR
        UPDATE(E1_NSUTEF) OR
        UPDATE(E1_APLVLMN) OR
        UPDATE(E1_SEQBX) OR
        UPDATE(E1_RATFIN) OR
        UPDATE(E1_BASEISS) OR
        UPDATE(E1_CODIRRF) OR
        UPDATE(E1_PRISS) OR
        UPDATE(E1_CODISS) OR
        UPDATE(E1_XOBSFIN) OR
        UPDATE(E1_XCNAB) OR
        UPDATE(E1_XCODANT) OR
        UPDATE(E1_FAMAD) OR
        UPDATE(E1_PARCFAM) OR
        UPDATE(E1_FMPEQ) OR
        UPDATE(E1_PARCFMP) OR
        UPDATE(E1_XBCOBOL) OR
        UPDATE(E1_XAGEBCO) OR
        UPDATE(E1_XCONBCO) OR
        UPDATE(E1_XNOMBCO) OR
        UPDATE(E1_XDENBOL) OR
        UPDATE(E1_PRODUTO) OR
        UPDATE(E1_PERLET) OR
        UPDATE(E1_CHAVENF) OR
        UPDATE(E1_XSAC) OR
        UPDATE(E1_XMERCHA) OR
        UPDATE(E1_XECOMME) OR
        UPDATE(E1_FUNDESA) OR
        UPDATE(E1_IMAMT) OR
        UPDATE(E1_FASEMT) OR
        UPDATE(E1_PARFUND) OR
        UPDATE(E1_PARIMA) OR
        UPDATE(E1_PARFASE) OR
        UPDATE(E1_USERLGI) OR
        UPDATE(E1_USERLGA) OR
        UPDATE(E1_DESCJUR) OR
        UPDATE(E1_CCUSTO) OR
        UPDATE(E1_CDRETCS) OR
        UPDATE(E1_CDRETIR) OR
        UPDATE(E1_TPESOC) OR
        UPDATE(E1_CNO) OR
        UPDATE(E1_SDOC) OR
        UPDATE(E1_SDOCREC) OR
        UPDATE(E1_CTRBCO) OR
        UPDATE(E1_XTIPBOR) OR
        UPDATE(E1_XPEFIN) OR
        UPDATE(E1_XNUMECO) OR
        UPDATE(E1_XNUMECL) OR
        UPDATE(E1_CODRET) OR
        UPDATE(E1_CLVL) OR
        UPDATE(E1_ITEMCTA) OR
        UPDATE(E1_TCONHTL) OR
        UPDATE(E1_CONHTL) OR
        UPDATE(E1_BOLETO) OR
        UPDATE(E1_XSTMOIP) OR
        UPDATE(E1_XIDTRAN) OR
        UPDATE(E1_XFATUR) OR
        UPDATE(E1_XFILFAT) OR
        UPDATE(E1_XINT) OR
        UPDATE(E1_XORIG) OR
        UPDATE(E1_XPERC) OR
        UPDATE(E1_CODSERV) OR
        UPDATE(E1_VRETBIS) OR
        UPDATE(E1_BTRISS) OR
        UPDATE(E1_XJURID) OR
        UPDATE(E1_XGLOBAL) OR
        UPDATE(E1_XFORMA) OR
        UPDATE(E1_XREZEND) OR
        UPDATE(E1_PARCIMA) OR
        UPDATE(E1_IMA) OR
        UPDATE(E1_XTRANSP) OR
        UPDATE(E1_XNTRAN) OR
        UPDATE(E1_XMAILCO) OR
        UPDATE(E1_XIDREQU) OR
        UPDATE(E1_XREQFOR) OR
        UPDATE(E1_XSTCOBR) OR
        UPDATE(E1_XDTCOBR) OR
        UPDATE(E1_XDTFCOB) OR
        UPDATE(E1_MSUIDT)
    BEGIN
        DECLARE @ID INT
        SELECT @ID = R_E_C_N_O_ FROM INSERTED
        UPDATE SE1040 SET E1_XRECEXP = '' WHERE R_E_C_N_O_ = @ID;
    END
END;


--SELECT * FROM SX3040 WHERE X3_ARQUIVO = 'SE1' ORDER BY X3_ORDEM

--UPDATE SE1040 SET E1_XSTCOBR = '' WHERE R_E_C_N_O_ = 1274689
--UPDATE SE1040 SET E1_XRECEXP = '20251230' WHERE R_E_C_N_O_ = 1274689