USE [LABOR_TESTE]
GO
/****** Object:  Trigger [dbo].[TG_SA1040]    Script Date: 30/12/2025 18:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TG_SA1040]
ON [dbo].[SA1040]
FOR UPDATE
AS
BEGIN
    IF @@ROWCOUNT = 0 RETURN;

    -- Se atualizar campos de exceção, não limpa nada
    IF  UPDATE(A1_XGTEXP)
        OR UPDATE(A1_XRECEXP)
        OR UPDATE(A1_MSEXP)
        RETURN;

    DECLARE @ID INT;

    SELECT @ID = R_E_C_N_O_
      FROM INSERTED;

    UPDATE SA1040
       SET A1_XGTEXP  = '',
           A1_XRECEXP = ''
     WHERE R_E_C_N_O_ = @ID;
END;
