USE [LABOR_TESTE]
GO
/****** Object:  Trigger [dbo].[TG_SE5040]    Script Date: 30/12/2025 18:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TG_SE5040]
ON [dbo].[SE5040]
FOR UPDATE AS
BEGIN
    IF @@ROWCOUNT = 0 RETURN;
	
	IF 	UPDATE(E5_FILIAL) OR 
		UPDATE(E5_DATA) OR 
		UPDATE(E5_TIPO) OR 
		UPDATE(E5_MOEDA) OR 
		UPDATE(E5_VALOR) OR 
		UPDATE(E5_NATUREZ) OR 
		UPDATE(E5_BANCO) OR 
		UPDATE(E5_AGENCIA) OR 
		UPDATE(E5_CONTA) OR 
		UPDATE(E5_NUMCHEQ) OR 
		UPDATE(E5_DOCUMEN) OR 
		UPDATE(E5_VENCTO) OR 
		UPDATE(E5_RECPAG) OR 
		UPDATE(E5_BENEF) OR 
		UPDATE(E5_HISTOR) OR 
		UPDATE(E5_TIPODOC) OR 
		UPDATE(E5_VLMOED2) OR 
		UPDATE(E5_LA) OR 
		UPDATE(E5_SITUACA) OR 
		UPDATE(E5_LOTE) OR 
		UPDATE(E5_PREFIXO) OR 
		UPDATE(E5_NUMERO) OR 
		UPDATE(E5_PARCELA) OR 
		UPDATE(E5_CLIFOR) OR 
		UPDATE(E5_LOJA) OR 
		UPDATE(E5_DTDIGIT) OR 
		UPDATE(E5_TIPOLAN) OR 
		UPDATE(E5_DEBITO) OR 
		UPDATE(E5_CREDITO) OR 
		UPDATE(E5_MOTBX) OR 
		UPDATE(E5_RATEIO) OR 
		UPDATE(E5_RECONC) OR 
		UPDATE(E5_SEQ) OR 
		UPDATE(E5_DTDISPO) OR 
		UPDATE(E5_CCD) OR 
		UPDATE(E5_CCC) OR 
		UPDATE(E5_OK) OR 
		UPDATE(E5_ARQRAT) OR 
		UPDATE(E5_IDENTEE) OR 
		UPDATE(E5_ORDREC) OR 
		UPDATE(E5_FILORIG) OR 
		UPDATE(E5_ARQCNAB) OR 
		UPDATE(E5_VLJUROS) OR 
		UPDATE(E5_VLMULTA) OR 
		UPDATE(E5_VLCORRE) OR 
		UPDATE(E5_VLDESCO) OR 
		UPDATE(E5_CNABOC) OR 
		UPDATE(E5_SITUA) OR 
		UPDATE(E5_ITEMD) OR 
		UPDATE(E5_ITEMC) OR 
		UPDATE(E5_CLVLDB) OR 
		UPDATE(E5_CLVLCR) OR 
		UPDATE(E5_PROJPMS) OR 
		UPDATE(E5_EDTPMS) OR 
		UPDATE(E5_TASKPMS) OR 
		UPDATE(E5_MODSPB) OR 
		UPDATE(E5_TXMOEDA) OR 
		UPDATE(E5_FATURA) OR 
		UPDATE(E5_CODORCA) OR 
		UPDATE(E5_FATPREF) OR 
		UPDATE(E5_SITCOB) OR 
		UPDATE(E5_FORNADT) OR 
		UPDATE(E5_LOJAADT) OR 
		UPDATE(E5_CLIENTE) OR 
		UPDATE(E5_FORNECE) OR 
		UPDATE(E5_SERREC) OR 
		UPDATE(E5_OPERAD) OR 
		UPDATE(E5_MOVCX) OR 
		UPDATE(E5_KEY) OR 
		UPDATE(E5_MULTNAT) OR 
		UPDATE(E5_AGLIMP) OR 
		UPDATE(E5_VLACRES) OR 
		UPDATE(E5_VLDECRE) OR 
		UPDATE(E5_VRETPIS) OR 
		UPDATE(E5_VRETCOF) OR 
		UPDATE(E5_VRETCSL) OR 
		UPDATE(E5_PRETPIS) OR 
		UPDATE(E5_PRETCOF) OR 
		UPDATE(E5_PRETCSL) OR 
		UPDATE(E5_AUTBCO) OR 
		UPDATE(E5_PRETIRF) OR 
		UPDATE(E5_VRETIRF) OR 
		UPDATE(E5_VRETISS) OR 
		UPDATE(E5_NUMMOV) OR 
		UPDATE(E5_PROCTRA) OR 
		UPDATE(E5_BASEIRF) OR 
		UPDATE(E5_DIACTB) OR 
		UPDATE(E5_NODIA) OR 
		UPDATE(E5_ORIGEM) OR 
		UPDATE(E5_FLDMED) OR 
		UPDATE(E5_PRINSS) OR 
		UPDATE(E5_TPDESC) OR 
		UPDATE(E5_CGC) OR 
		UPDATE(E5_PRISS) OR 
		UPDATE(E5_FORMAPG) OR 
		UPDATE(E5_BCOCHQ) OR 
		UPDATE(E5_AGECHQ) OR 
		UPDATE(E5_CTACHQ) OR 
		UPDATE(E5_TIPOMOV) OR 
		UPDATE(E5_IDMOVI) OR 
		UPDATE(E5_USERLGI) OR 
		UPDATE(E5_USERLGA) OR 
		UPDATE(E5_VRETINS) OR 
		UPDATE(E5_PRETINS) OR 
		UPDATE(E5_CCUSTO) OR 
		UPDATE(E5_SEQCON) OR 
		UPDATE(E5_MOVFKS) OR 
		UPDATE(E5_IDORIG) OR 
		UPDATE(E5_TABORI) OR 
		UPDATE(E5_SDOCREC) OR 
		UPDATE(E5_DTCANBX) OR 
		UPDATE(E5_MSUIDT) 
	BEGIN
        DECLARE @ID INT
        SELECT @ID = R_E_C_N_O_ FROM INSERTED
        UPDATE SE5040 SET E5_XRECEXP = '' WHERE R_E_C_N_O_ = @ID;
    END
END;

--SELECT * FROM SX3040 WHERE X3_ARQUIVO = 'SE5' ORDER BY X3_ORDEM